@import './component/banner.css';
@import './component/container.css';
@import './component/nav-menu.css';
@import './component/section.css';
@import './component/services-presentantion.css';
@import './component/service.css';
@import './component/news-catalog.css';
@import './component/news.css';
@import './component/footer.css';
@import './component/button-select.css';
@import './component/button-icon.css';

body {
  padding: 0;
  margin: 0;
  font-size: 20px;
  color: #2f313c;
  font-family: 'Roboto', sans-serif;
}

/* FONT ROBOTO */
@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/Roboto-Thin.woff2') format('woff2'),
    url('./assets/fonts/Roboto/Roboto-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/Roboto-BoldItalic.woff2') format('woff2'),
    url('./assets/fonts/Roboto/Roboto-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/Roboto-ThinItalic.woff2') format('woff2'),
    url('./assets/fonts/Roboto/Roboto-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/Roboto-LightItalic.woff2') format('woff2'),
    url('./assets/fonts/Roboto/Roboto-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
    url('./assets/fonts/Roboto/Roboto-Regular.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/Roboto-Light.woff2') format('woff2'),
    url('./assets/fonts/Roboto/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
